@keyframes top-cover-subtitle-anim {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes end-pic-anim {
  0% {
    transform: rotate(-0.5deg);
  }

  50% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: rotate(-0.5deg);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
