input.input-text {
  height: 20px;
  border-color: theme-color('grey');
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 4px 10px;
  font-family: 'Quicksand', 'Noto Sans KR', sans-serif;
}
